# {{ ansible_managed }}
[Unit]
Description=Update user Flatpak applications
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ flatpak_updater_binary }} update --user -y --noninteractive
